<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399396331071-d6infk1dj98v92e80fo3eafokrc4cgbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399396331071-d6infk1dj98v92e80fo3eafokrc4cgbn</string>
	<key>API_KEY</key>
	<string>AIzaSyBinuFGjRv_5fjWaECNMIwsHxfxdsvcjkc</string>
	<key>GCM_SENDER_ID</key>
	<string>399396331071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meowpedia</string>
	<key>PROJECT_ID</key>
	<string>meowpedia-a8bfe</string>
	<key>STORAGE_BUCKET</key>
	<string>meowpedia-a8bfe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399396331071:ios:c5f8ee0a66a6a634ec628a</string>
</dict>
</plist>